body {
  height: 100%;
  padding-left: 3%;
  padding-right: 3%;
  margin: 0px;
  font-family: 'Noto Sans', 'sans-serif';
  background-color: #e9ffe5;
}

.App {
  text-align: center;
}

#map {
  width: 60%; 
  height: 530px;
  float: left;
  margin-left: 20px;
}

/*#map-container {
  box-shadow: 2px 2px 2px #888888;
  background-color: #fffdef;
  padding: 20px;
  border-radius: 30px;
}*/

.header {
  font-family: 'Ubuntu', sans-serif;
  background-color: #fffdef;
  border-radius: 30px;
  box-shadow: 1px;
  color: green;
  box-shadow: 2px 2px 2px #888888;
}

form {
  width: 30%;
  float: right;
  margin-right: 20px;
  border-radius: 30px;
  padding: 10px;
  background-color: #fffdef;
  box-shadow: 2px 2px 2px #888888;
}

form input {
  width: 80%;
  margin: 5px;
  padding: 10px;
  border-top: none;
  border-right: none;
  border-left: none;
  background-color: #fffdef;
  border-radius: 20px;
}

form label {
/*  color: pink;*/
}